html {
  background-color: #000212;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0px auto;
  width: 75%;
  min-width: 800px;

  display: flex;
  flex-direction: column;
}

header {
  color: azure;
  background-color: #213550;

  border-bottom: 4px solid #000212;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  padding: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    margin-left: 10%
  }
}

nav {
  margin-right: 10%;

  ul {
    list-style: none;
    padding: 0;
  
    display: flex;
    gap: 20px;
  }
}

section {
  padding: 60px 40px;
  flex: 1;

  min-height: 250px;
}

section:first-of-type {
  border-top: 4px solid #000212;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

section:last-of-type{
  border-bottom: 4px solid #000212;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.section-one {
  color: white;
  background-color: #213550;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section-one-left {
  flex: initial;
  width: 40%;
  
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 900px;
  }

  p {
    margin: 0px;
  }

  button {
    color: white;
    background-color: teal;
    border: 3px solid teal;
    border-radius: 5%;
    padding: 5px;
    width: 100px;
  }

  button:hover {
    color: teal;
    background-color: #d9dde1;
    border: 5px solid white;
    transition-duration: 0.2s;
  }
}

.section-one img {
  flex: initial;
  width: 300px;
  height: 300px;
}

.section-two {
  color: #000044;
  background-color: #e9ecf9;
  text-align: center;

  h2 {
    margin-bottom: 50px;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 20spx;

  .info {
    max-width: 200px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.section-three {
  background-color: #9eacbf;

  display: flex;
  flex-direction: column;
  gap: 20px;
  
  p {
    margin: auto 100px;
  }

  .text-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
  }

  .text-label {
    text-align: right;

    font-size: 20px;
    font-weight: bold;
  }
}

.section-four {
  background-color: #e9ecf9;
  display: flex;
  justify-content: center;
  align-items: center;

  .centered {
    color: white;
    background-color: #24c992;
    border-radius: 15px;

    width: 60%;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .centered-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: first baseline;
      gap: 10px;

      h3 {
        margin: 0;
      }
      
      p {
        margin: 0;
      }
    }

    button {
      color: white;
      background-color: #24c992;
      border: 1px solid white;
      border-radius: 3px;
      padding: 5px 10px;
    }

    button:hover {
      border-width: 3px;
      background-color: #1aa577;
      padding: 7px 12px;

      transition-duration: 0.2s;
    }
  }
}

footer {
  color: white;
  text-align: center;
  background-color:#213550;
  
  border-top: 4px solid #000212;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

